*{
  margin: 0;
}
body {
  width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
